{
  "root": true,
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["unused-imports", "simple-import-sort", "import"],
  "rules": {
    "no-new": "off",
    "max-classes-per-file": ["error", 2],
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "unused-imports/no-unused-imports": "error",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    "import/extensions": "off",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "camelcase": "error",
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "only-multiline"],
    "func-names": ["error", "as-needed"],
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": false, "avoidEscape": true }],
    "max-len": [
      "error",
      {
        "code": 160,
        "ignoreStrings": true
      }
    ],
    "indent": ["error", 2],
    "no-await-in-loop": "off",
    "no-confusing-arrow": "off",
    "no-continue": "off",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-nested-ternary": "off",
    "no-plusplus": "off",
    "no-redeclare": "off",
    "no-restricted-syntax": "off",
    "no-undef": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-shadow": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "semi": "error"
  }
}
